.action-button-icon.is-undo {
  -webkit-mask: url("/icons/ico_undo.svg") center / contain no-repeat;
  mask: url("/icons/ico_undo.svg") center / contain no-repeat;
}

.action-button-icon.is-redo {
  -webkit-mask: url("/icons/ico_redo.svg") center / contain no-repeat;
  mask: url("/icons/ico_redo.svg") center / contain no-repeat;
}

.action-button-icon.is-prevnext {
  -webkit-mask: url("/icons/ico_prevnext.svg") center / contain no-repeat;
  mask: url("/icons/ico_prevnext.svg") center / contain no-repeat;
}

.action-button-icon.is-open {
  -webkit-mask: url("/icons/ico_open.svg") center / contain no-repeat;
  mask: url("/icons/ico_open.svg") center / contain no-repeat;
}

.action-button-icon.is-flip-x {
  transform: scaleX(-1);
}

.action-button-icon.is-duplicate {
  -webkit-mask: url("/icons/ico_duplicate.svg") center / contain no-repeat;
  mask: url("/icons/ico_duplicate.svg") center / contain no-repeat;
}

.action-button-icon.is-lock-move {
  -webkit-mask: url("/icons/ico_lock_move.svg") center / contain no-repeat;
  mask: url("/icons/ico_lock_move.svg") center / contain no-repeat;
}

.action-button-icon.is-delete {
  -webkit-mask: url("/icons/ico_delete.svg") center / contain no-repeat;
  mask: url("/icons/ico_delete.svg") center / contain no-repeat;
}

.action-button-icon.is-analysis {
  -webkit-mask: url("/icons/ico_analysis.svg") center / contain no-repeat;
  mask: url("/icons/ico_analysis.svg") center / contain no-repeat;
}

.action-button-icon.is-save {
  -webkit-mask: url("/icons/ico_save.svg") center / contain no-repeat;
  mask: url("/icons/ico_save.svg") center / contain no-repeat;
}

.action-button-icon.is-swap {
  -webkit-mask: url("/icons/ico_swap.svg") center / contain no-repeat;
  mask: url("/icons/ico_swap.svg") center / contain no-repeat;
}

.action-button-icon.is-cancel {
  -webkit-mask: url("/icons/ico_cancel.svg") center / contain no-repeat;
  mask: url("/icons/ico_cancel.svg") center / contain no-repeat;
}

.action-button-icon.is-unselect {
  -webkit-mask: url("/icons/ico_unselect.svg") center / contain no-repeat;
  mask: url("/icons/ico_unselect.svg") center / contain no-repeat;
}

.action-button-icon.is-home-create {
  -webkit-mask: url("/icons/ico_home_create.svg") center / contain no-repeat;
  mask: url("/icons/ico_home_create.svg") center / contain no-repeat;
}

.action-button-icon.is-home-import {
  -webkit-mask: url("/icons/ico_home_import.svg") center / contain no-repeat;
  mask: url("/icons/ico_home_import.svg") center / contain no-repeat;
}

.action-button-icon.is-home-start {
  -webkit-mask: url("/icons/ico_home_start.svg") center / contain no-repeat;
  mask: url("/icons/ico_home_start.svg") center / contain no-repeat;
}

.action-button-icon.is-home {
  -webkit-mask: url("/icons/ico_home.svg") center / contain no-repeat;
  mask: url("/icons/ico_home.svg") center / contain no-repeat;
}

.action-button-icon.is-network-scope {
  -webkit-mask: url("/icons/ico_home_start.svg") center / contain no-repeat;
  mask: url("/icons/ico_home_start.svg") center / contain no-repeat;
}

.action-button-icon.is-catalog {
  -webkit-mask: url("/icons/ico_catalog.svg") center / contain no-repeat;
  mask: url("/icons/ico_catalog.svg") center / contain no-repeat;
}

.action-button-icon.is-connectors {
  -webkit-mask: url("/icons/ico_connectors.svg") center / contain no-repeat;
  mask: url("/icons/ico_connectors.svg") center / contain no-repeat;
}

.action-button-icon.is-splices {
  -webkit-mask: url("/icons/ico_splices.svg") center / contain no-repeat;
  mask: url("/icons/ico_splices.svg") center / contain no-repeat;
}

.action-button-icon.is-nodes {
  -webkit-mask: url("/icons/ico_nodes.svg") center / contain no-repeat;
  mask: url("/icons/ico_nodes.svg") center / contain no-repeat;
}

.action-button-icon.is-segments {
  -webkit-mask: url("/icons/ico_segments.svg") center / contain no-repeat;
  mask: url("/icons/ico_segments.svg") center / contain no-repeat;
}

.action-button-icon.is-wires {
  -webkit-mask: url("/icons/ico_wires.svg") center / contain no-repeat;
  mask: url("/icons/ico_wires.svg") center / contain no-repeat;
}

.action-button-icon.is-validation {
  -webkit-mask: url("/icons/health.svg") center / contain no-repeat;
  mask: url("/icons/health.svg") center / contain no-repeat;
}

.meta-line {
  margin: 0 0 0.75rem;
  color: color-mix(in srgb, currentColor 72%, transparent);
}

@media (max-width: 980px) {
  .workspace-inspector-panel {
    inset: auto 0.75rem 0.75rem auto;
    width: calc(100vw - 1.5rem);
    max-height: calc(100vh - var(--workspace-header-offset) - 0.75rem);
  }

}
